<a href="https://colab.research.google.com/github/melvinjjoseph/Understanding-ML-algorithms-PESUIO-Slot-14/blob/main/PESUIO_Slot_14_class_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Welcome to the first class of undersanding ML algorithms
Today you will get yourselves familiar with python and essentially get to dive into the basics of some libraries that you will be learning about throughout this course.

The Most basic Hello World program:

In [ ]:
print("Hello World!")

Hello World!

Concept of variables and data types :
EXERCISE: A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars. So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the profit made by the company? Create variables for each numeric quantity and use appropriate arithmetic operations.

In [ ]:
total_cost=5000
people=29
cost_per_person=200
profit=people*cost_per_person-total_cost
print(profit)

800

Concept of a conditional statement or a set of conditional statements and cases :
Write a code snippet which evaluates whether a number is a multiple of just 2 , just 3 , or both 2 and 3 (multiple of 6)

In [ ]:
#use if-else statements and print out the required information:
num= 12
#complete this area
if num%2==0 and num%3==0:
  print("Multiple of 6")
elif num%2==0:
  print("Multiple of 2")
elif num%3==0:
  print("Multiple of 3")
else:
  print("not a multiple of 2 or 3")

Multiple of 6

Concept of loops:
Write a program to count the number of vowels in the given string:
ANTIESTABLISHMENTARIANISTICALLY

In [ ]:
given="ANTIESTABLISHMENTARIANISTICALLY"
count=0
for i in given:
  if i=="A" or i=="E" or i=="I" or i=="O" or i=="U":
    count=count+1
print(count)

12

learning what each data- structure in python does and using all their functions:

LISTS AND ITS FUNCTIONALITY:

In [ ]:
#Define a random list of fruits 
fruits=["apple","banana","mango","pear"]
#iterate over the list and find the name of the fruit which has the smallest word length
smallest_fruit=fruits[0]
for fruit in fruits:
  if len(fruit)<len(smallest_fruit):
    smallest_fruit=fruit
print(fruit)

# append a vegetable to your existing list
fruits.append("carrot")
# find the size of your list
print(len(fruits))
# add enough fruits such that your list size if greater that 4

# delete the 2nd fruit(1st index) from your list:
fruits.pop(1)
# add your name in the 4th position of the list (3rd index)
fruits[3]="Melvin"
print(fruits)
#have fun and try out any 4-5 pre-defined fucntions on a list as seen in the python list documentation
fruits.reverse

pear
5
['apple', 'mango', 'pear', 'Melvin']

TUPLES AND ITS FUNCTIONALITY:

In [24]:
#create abd tuple and print its elements 
t=("apple",13,"car","bird",3.2)
print(t)
#print the type of each value in the tuple
for i in t:
  print(type(i))
#try to change the seconf value in your tuple to "Caterpillar"

#t[1]="Catterpillar"  we get an error

# print the last element of the tuple without using the length of the tuple
print(t[-1])
# slicing is an IMPORTANT concept in python especially since you will all be working on huge amounts of data so try different options 
# print(a[-2:]), print([:3]) etc...
print(t[3::-1])
print(t[:3:2])
#sort vs sorted function: find the difference in the form of a program:
list1=[34,24,76,43,55]
list2=sorted(list1)   #returns the sorted list. does not change the original list
print(list2)
list1.sort()      #changes the original list. has no return value
print(list1)

('apple', 13, 'car', 'bird', 3.2)
<class 'str'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
3.2
('bird', 'car', 13, 'apple')
('apple', 'car')
[24, 34, 43, 55, 76]
[24, 34, 43, 55, 76]

SETS AND ITS FUNCTIONALITY:

In [25]:
#explore the properties of set and after doing that solve this little puzzle below:
list1=[23,12,54,23,54,26]
set1=set(list1)
print(set1)

{26, 12, 54, 23}

Ana is a data-scientist  who just started her career in Meta, however she needs to find the existance of new words on facebook hashtags and find the numbre of unique such words which need to be added to the existing facebook hastag library:

facebook hastag library : ["ootd", "lol", "ffs", "asap"]
daily facebook hastag words string: " rofl lol macha bob ootd asap fun sweet16 ffs lol asap ootd ffs macha rofl bob ootd fun candid anime happyhours bob fun happyhours"
You will need to indivitually extract the words from the string and then solve this problem ?? How are you going to do that ? 
# Reading documentation should become a habit .....

In [7]:
#solve the above problem and help ana do her work she may even hire you as her assistant!!!
given=" rofl lol macha bob ootd asap fun sweet16 ffs lol asap ootd ffs macha rofl bob ootd fun candid anime happyhours bob fun happyhours" 
lib=["ootd", "lol", "ffs", "asap"]
given_words=given.split()
c=0
for i in given_words:
  if i not in lib:
    lib.append(i)
    c=c+1
print("the number of words to be added is",c)
print("the updated hashtag library is",lib)

the number of words to be added is 8
the updated hashtag library is ['ootd', 'lol', 'ffs', 'asap', 'rofl', 'macha', 'bob', 'fun', 'sweet16', 'candid', 'anime', 'happyhours']

DICTIONARIES AND ITS FUNCTIONALITY:

In [ ]:
#explore the usage of dictionaries because it is literally so useful when in comes data science
#a lot of the data you will be using will be as key-value pairs

Given an unsorted list of some elements(may or may not be integers), Find the frequency of each distinct element in the list using a dictionary. 
Input : [1, 1, 1, 5, 5, 3, 1, 3, 3, 1,
                  4, 4, 4, 2, 2, 2, 2]

Output : 1 : 5
         2 : 4
         3 : 3
         4 : 3
         5 : 2

In [27]:
# Python program to count the frequency of
# elements in a list using a dictionary
 
def CountFrequency(my_list):
 
    # Creating an empty dictionary
    freq = {}
    for ele in my_list:
      if ele not in freq:
        freq[ele]=1
      else:
        freq[ele]=freq[ele]+1
    return freq
        
    #------fill your code here-----------------
    
# Driver function
if __name__ == "__main__":
    my_list =[1, 1, 1, 5, 5, 3, 1, 3, 3, 1, 4, 4, 4, 2, 2, 2, 2]
 
    freq=CountFrequency(my_list)
    print(freq)

{1: 5, 5: 2, 3: 3, 4: 3, 2: 4}

Now that you have finished this basics exercise in python We shall now play in teams and winning Team doesn't get homework today !